@import '@fontsource/fira-mono';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --rem: 16px;
  --font: sans-serif;
	--font-mono: 'Fira Mono', monospace;
  --color: #000;
  --background: #fff;
  --border-color: #2c2d2e;
  --primary: #00bffc;
  --secondary: #000;
}

html {
  font-size: var(--rem);
  font-family: var(--font);
  color: var(--color);
  background: var(--background);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  font-weight: 400;
  line-height: 1.2;
}

a {
  color: var(--primary);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --background: #000;
  }
}